.right-arrow {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    background: blue;
    border: none !important;
    color: #ffffff;
    outline: none;
}

.left-arrow {
    position: absolute;
    left: 10px;
    border-radius: 50%;
    background: blue;
    border: none !important;
    color: #ffffff;
    outline: none !important;
}