.category-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
    background: #1b348f;
    color: #ffffff;
    font-weight: 500;
    border-bottom-left-radius: 4px;
}

.product-card {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
}

.product-img-block:hover .product-img {
    transform: scale(1.5);
}

.product-img {
    transition: transform .5s ease;
    width: 60%;
}

.product-img-block {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.add-to-cart {
    height: 33px;
    width: 100%;
    background: #0095ff;
    border: navajowhite;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    outline: none !important;
}

.qty-btn {
    padding: 7px 10px;
    border: navajowhite;
    font-size: 13px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
}

.qty-btn:focus {
    outline: none;
}

.qty-dec {
    background: #964f48;
}

.qty-inc {
    background: #2075d2;
}

.product-quantity {
    font-size: 16px;
    font-weight: 900;
    padding: 5px;
}